.banner {
    padding: 60px 0;
    @include desktop-min {
        padding: 50px 0;
    }
    @include tablet {
        padding: 40px 0;
    }
    @include mobile-min {
        padding-top: 18px;
        padding-bottom: 20px;
    }
    &__wrapper {
        background-image: url("../img/banner.jpg");
        background-image: image-set(
            url("../img/banner.avif") 1x,
            url("../img/banner.webp") 1x,
            url("../img/banner.jpg") 1x
        );
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        min-height: 480px;
        padding-top: 152px;
        @include desktop-min {
            background-image: url("../img/banner_1024.jpg");
            background-image: image-set(
                url("../img/banner_1024.avif") 1x,
                url("../img/banner_1024.webp") 1x,
                url("../img/banner_1024.jpg") 1x
            );
            width: 100%;
            border-radius: 16px;
            min-height: 314px;
            padding-top: 82px;
        }
        @include tablet {
            background-image: url("../img/banner_768.jpg");
            background-image: image-set(
                url("../img/banner_768.avif") 1x,
                url("../img/banner_768.webp") 1x,
                url("../img/banner_768.jpg") 1x
            );
            min-height: 280px;
            padding-top: 67px;
        }
        @include mobile-min {
            background-image: url("../img/banner_320.jpg");
            background-image: image-set(
                url("../img/banner_320.avif") 1x,
                url("../img/banner_320.webp") 1x,
                url("../img/banner_320.jpg") 1x
            );
            min-height: 340px;
            border-radius: 8px;
            padding-top: 52px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 130%;
        padding-left: 112px;
        margin-bottom: 20px;
        @include desktop-min {
            font-size: 40px;
            padding-left: 80px;
            margin-bottom: 62px;
        }
        @include tablet {
            font-size: 30px;
            margin-bottom: 81px;
        }
        @include mobile {
            font-size: 24px;
            margin-bottom: 60px;
        }
        @include mobile-min {
            font-size: 22px;
            margin-bottom: 188px;
            padding-left: 29px;
        }
    }
    &__timer {
        width: 520px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include desktop-min {
            width: 340px;
        }
        @include tablet {
            width: 250px;
        }
        @include mobile-min {
            width: 188px;
        }
    }
}
.red {
    background-color: $color-red;
    opacity: 70%;
    padding: 10px;
}
.end-action {
    text-align: center;
}
.delete {
    opacity: 0;
}
.timer {
    &__title {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 21px;
        @include desktop-min {
            margin-bottom: 23px;
        }
        @include tablet {
            font-size: 12px;
            margin-bottom: 18px;
        }
        @include mobile-min {
            font-size: 8px;
            margin-bottom: 11px;
        }
    }
    &__item {
        display: flex;
        gap: 7px;
        align-items: flex-end;
        @include tablet {
            gap: 3px;
        }
    }
    &__count {
        font-weight: 700;
        font-size: 60px;
        line-height: 84%;
        @include desktop-min {
            line-height: 78%;
            font-size: 40px;
        }
        @include tablet {
            line-height: 85%;
            font-size: 30px;
        }
        @include mobile-min {
            line-height: 98%;
            font-size: 20px;
        }
    }
    &__units {
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        @include desktop-min {
            font-size: 20px;
            line-height: 110%;
        }
        @include tablet {
            font-size: 16px;
            line-height: 110%;
        }
        @include mobile-min {
            font-size: 12px;
            line-height: 162%;
        }
    }
}
