.book {
    width: 420px;
    height: 367px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    @include desktop-min  {
        width: 300px;
        height: 323px;
        padding: 25px 24px 27px 20px;
    }
    @include mobile-max {
        width: 100%;
        padding: 25px 30px 30px 30px;
        border-radius: 0;
        box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) , 0 -15px 15px -15px rgba(0, 0, 0, 0.25);
    }
    @include mobile-min {
        width: 280px;
        height: 252px;
        margin-bottom: 10px;
    }
    &__wrapper {
        @include mobile-max {
            width: 280px;
            margin: 0 auto;
        }
        @include mobile-min {
            margin: 0;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 7px;
        @include desktop-min {
            margin-bottom: 16px;           
        }
        @include mobile-min {
            gap: 18px;
            margin-bottom: 13px;
        }
    }
    &__price-act {
        color: $color-red;
        font-size: 36px;
        font-weight: 700;
        @include desktop-min {
           font-size: 28px;            
        }
        @include mobile-min {
            font-size: 20px;
        }
    }
    &__price-old {
        font-size: 22px;
        text-decoration-line: line-through;
        @include desktop-min {
            font-size: 18px;            
        }
        @include mobile-min {
            font-size: 12px;
        }
    }
    &__blue-text {
        color: $color-blue;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        @include desktop-min {
            font-size: 14px;            
        }
        @include mobile-min {
            font-size: 12px;
        }
    }
    &__buttons {
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 23px;
        @include desktop-min {
            gap: 21px;           
        }
        @include mobile-min {
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 17px;
        }
    }
    &__btn {
        padding: 17px 42px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3;
        @include desktop-min {
            padding: 12px 21px;          
        }
        @include mobile-min {
            font-size: 12px;
            padding: 8px 18px;
        }

    }
    &__favorite {
        width: 33px;
        height: 33px;
        color: $color-blue;
        background-color: transparent;
        border: none;
        &:active {
            color: $color-red;
        }
        &:focus {
            color: $color-gray;
        }
        @include mobile-min {
            width: 24px;
            height: 24px;
        }
    }
    &__info {
        display: flex;
        gap: 73px;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 33px;
        @include mobile-min {
            font-size: 12px;
            margin-bottom: 22px;
        }
    }
    &__delivery {
        margin-bottom: 5px;
    }
    &__info-light {
        color: $color-light-gray;
    }
    &__sales {
        display: flex;
        align-items: center;
        gap: 13px;
        color: $color-blue;
    }
    &__sales svg {
        @include desktop-min {
            width: 22px;
            height: 22px;
        }
        @include mobile-min {
            width: 14px;
            height: 14px;
        }
    }
}