.goods {
    padding-top: 50px;
    padding-bottom: 140px;
    @include desktop-min {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    @include tablet {
        padding-bottom: 60px;
    }
    @include mobile {
        padding-top: 55px;
        padding-bottom: 70px;
    }
    &__title {
        font-weight: 700;
        font-size: 50px;
        line-height: 1.3;
        color: $color-dark;
        margin-bottom: 50px;
        @include desktop-min {
            font-size: 40px;
            margin-bottom: 40px;
        }
        @include tablet {
            font-size: 30px;
            margin-bottom: 30px;
        }
        @include mobile {
            font-size: 20px;
            margin-bottom: 26px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px 30px;
        @include desktop-min {
            grid-template-columns: repeat(3, 1fr);
        }
        @include tablet {
            gap: 40px 20px;
        }
        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 20px;
        }
    }
    &__item {
        max-width: 420px;
        position: relative;
        @include desktop-min {
            max-width: 300px;
        }
        @include tablet {
            max-width: 220px;
        }
        @include mobile {
            max-width: 130px;
        }
    }
    &__img {
        border-radius: 14px;
        margin-bottom: 20px;
        @include desktop-min {
            margin-bottom: 15px;
        }
        @include mobile {
            margin-bottom: 8px;
        }
    }
    &__image-wrapper_category {
        // max-width: 420px;
        height: 295px;
        margin-bottom: 20px;
        border-radius: 14px;
        border: 1px solid $color-bg-input;
        // display: flex;
        // align-items: center;
        @include desktop-min {
            // max-width: 300px;
            margin-bottom: 15px;
            height: 216px;
        }
        @include tablet-min {
            // max-width: 220px;
            height: 160px;
        }
        @include mobile {
            // max-width: 130px;
            margin-bottom: 8px;
            height: 130px;
        }
    }
    &__img_category {
        border-radius: 14px;
        height: 295px;
        object-fit: contain;
        @include desktop-min {
            height: 216px;
        }
        @include tablet-min {
            height: 160px;
        }
        @include mobile {
           height: 130px;
        }
    }
    &__prices {
        display: flex;
        align-items: center;
        color: $color-dark;
        margin-bottom: 15px;
        @include desktop-min {
            margin-bottom: 15px;  
        }
        @include tablet {
            margin-bottom: 10px;
        }
        @include mobile {
            margin-bottom: 5px;
        }
    }
    &__price {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        margin-right: 28px;
        @include tablet {
            font-size: 22px;
            line-height: 26px;
        }
        @include mobile {
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__price-old {
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: line-through;
        @include tablet {
            font-size: 16px;
            line-height: 19px;
        }
        @include mobile {
            font-size: 12px;
            line-height: 14px;
        }
    }
    &__description {
        font-size: 22px;
        line-height: 1.5;
        color: $color-dark;
        @include tablet {
            font-size: 18px;
        }
        @include mobile {
            font-size: 12px;
        }
    }
    &__desktop {
        @include desktop-min {
            display: none;
        }
    }
    &__desktop-min {
        display: none;
        @include desktop-min {
            display: block;
        }
    }
}

