.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $color-blue;
    &__list {
        display: flex;
        gap: 6px;
        @include mobile {
            gap: 10px;
        }
    }
    &__link {
        width: 36px;
        height: 36px;
        border: 2px solid $color-dark;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: $color-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include mobile {
            width: 20px;
            height: 20px;
            font-size: 12px;
            line-height: 1.3;
        }
        &:hover {
            border: 2px solid $color-blue;
            color: $color-blue;
        }
        &:focus {
            border: 2px solid #3B65A5;
            color: #3B65A5;
        }
        &_active {
            border: 2px solid $color-blue;
            color: $color-blue;
        }
    }
    &__arrow {
        @include mobile {
            width: 28px;
        }
    }
}
.pagination__arrow_start-disabled, .pagination__arrow_end-disabled {
    color: $color-light-gray;
}