.search {
    width: 757px;
    position: relative;
}

.search__input {
    width: 100%;
    height: 54px;
    padding-left: 40px;
    background: #EFEFEF;
    border-radius: 30px;
    border: 1px solid #EFEFEF;
    outline: none;
}

.search__button {
    width: 101px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3670C7;
    border-radius: 30px;
    border: none;
    padding-top: 6px;
}

@media (max-width: 1600px) {
    .search {
        width: 700px;
        grid-column: 2 / span 4;
        grid-row: 2 / 3;
        justify-self: end;
    }
    .search__button {
        padding-top: 2px;
    }
}

@media (max-width: 992px) {
    .search {
        width: 540px;
    }
    .search__input {
        height: 42px;
    }
    .search__button {
        width: 82px;
        height: 42px;
    }
    .search__img {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 730px) {
    .search {
        width: 340px;
    }
}

@media (max-width: 610px) {
    .search {
        grid-column: 1 / span 3;
        grid-row: 3 / 4;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .search__input {
        height: 30px;
        padding-left: 15px;
        padding-bottom: 6px;
    }
    .search__input::placeholder {
        font-size: 8px;
    }
    .search__button {
        width: 50px;
        height: 30px;
    }
    .search__img {
        width: 15px;
        height: 15px;
    }
}