.navigation {
    position: relative;
}
.navigation__list {
    flex-wrap: wrap;
    gap: 30px;
    background-color: #2D2D2D;
    border-radius: 10px;
    padding: 40px;
    display: none;
}

.navigation__list_active {
    display: flex;
}

.navigation__item {
    position: relative;
}

@media (max-width: 1600px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 425px) {
    
}